@font-face {
  font-family: Inter-Regular;
  src: url("../assets/fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter-SemiBold;
  src: url("../assets/fonts/static/Inter-SemiBold.ttf");
}
@font-face {
  font-family: Inter-Bold;
  src: url("../assets/fonts/static/Inter-Bold.ttf");
}

$PrimaryColor: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 20%);
$Dark_Grey: hsl(0, 0%, 12%);
$Off_Black: hsl(0, 0%, 8%);

@mixin Flex_All_Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter-Regular";
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  @include Flex_All_Center();
  flex-direction: column;
  background-color: $Off_Black;

  #main {
    width: 400px;
    height: auto;
    padding: 1rem;
    @include Flex_All_Center();
    flex-direction: column;
    background-color: $Dark_Grey;
    border-radius: 10px;

    .img {
      width: 80px;
      height: 80px;
      margin: 2rem 0rem;
      background-image: url("../assets/images/avatar-jessica.jpeg");
      background-size: cover;
      border-radius: 50%;
    }

    .name {
      margin-bottom: 0.5rem;
      font-family: Inter-SemiBold;
      font-weight: normal;
      font-size: 1.8rem;
      color: $white;
    }

    .adress {
      margin-bottom: 2rem;
      font-family: Inter-SemiBold;
      color: $PrimaryColor;
    }

    .intro {
      margin-bottom: 1.5rem;
      color: $white;
    }

    .link {
      width: 300px;
      height: auto;
      padding: 1rem 0.5rem;
      margin-bottom: 1rem;
      text-align: center;
      text-decoration: none;
      font-family: Inter-SemiBold;
      background-color: $Grey;
      color: $white;
      border-radius: 10px;
      &:hover {
        color: $Off_Black;
        background-color: $PrimaryColor;
        cursor: pointer;
      }
    }
  }

  .attribution {
    position: absolute;
    color: $white;
    bottom: 2rem;
  }
}

@media screen and (max-width: 425px) {
  body {
    #main {
      width: 90%;
      .link {
        width: 90%;
      }
    }
  }
}
